.container {
  /* background-color: #dcd6d6; */
  width: 60vw;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding-top: 18px;
  text-align: center;
}
