.container {
  /* background-color: #dcd6d6; */
  width: 60vw;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  /* background-color: #a52727; */
  width: 60vw;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupHeading {
  margin-bottom: 20px;
  font-size: 45px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formInput {
  padding: 15px 40px 15px 10px;
  border-radius: 10px;
  border: 1px solid #6e62e2;
  background-color: #f5f6f8;
  font-size: 20px;
}

.error {
  color: red;
  font-style: italic;
}
/* .formInput::placeholder {
  /* background-color: red; */
/* padding: 0px -10px 2px; */
/*} */

.signupBtn {
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  background-color: #6e62e2;
  color: #f0f0fc;
  border: none;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}
