.container {
  background-color: #ffffff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75); */
}

.brandName {
  /* background-color: blue; */
  flex-basis: 40%;
  display: flex;
  justify-content: start;
  padding-left: 2em;
  align-items: center;
  color: blueviolet;
  font-weight: bold;
  font-size: 20px;
}
.navItems {
  /* background-color: red; */
  list-style: none;
  display: flex;
  gap: 2px;
  padding: 10px 30px;
  /* flex-basis: 60%; */
  justify-content: space-between;
  align-items: center;
}
.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navItem img {
  width: 55px;
}
.navItem span {
  font-weight: bold;
  font-size: 20px;
}
